<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bracelets Urban Ice</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/ringstyle.css">
</head>
<body>
    {% include 'header.twig' %}

<main class="container my-5">
    <h2 class="text-center mb-4">Our Bracelet Collection</h2>
    <div class="row">
        {% for bracelet in bracelets %} <!--loop variable -->
            <div class="col-md-3 mb-4">
                <div class="card">
                    <a href="/product.php?id={{ bracelet.id }}"> 
                    <img src="{{ bracelet.image }}" class="card-img-top" alt="{{ bracelet.product_name }}"></a>
                    <div class="card-body">
                        <h5 class="card-title">{{ bracelet.product_name }}</h5>
                        <p class="card-text"><strong>Price:</strong> ${{ bracelet.price }}</p>
                        <a href="/product.php?id={{ bracelet.id }}" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</main>

    {% include 'footer.php' %}
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>